@model IEnumerable<Ecommerce.Models.Produto_CategoriaModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PRCA_DESCRICAO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRCA_DATA_CADASTRO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRCA_STATUS)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PRCA_DESCRICAO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRCA_DATA_CADASTRO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRCA_STATUS)
            </td> 
            <td>
                <a asp-action="Edit" asp-route-id="@item.PRCA_PK_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PRCA_PK_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PRCA_PK_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
